main {
    min-width: 100vw;   /* 100% of the viewport width */
    min-height: 100vh;  /* 100% of the viewport height */
    margin: 0;          /* Remove default margin */
    padding: 0;         /* Remove default padding */
  }

.link-underline {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none; /* Removes default underline */
  }
  
  .link-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor; /* Matches text color */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  .link-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }